{% extends 'newsroom/header.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <h5>Welcome to Ai-Mo Times</h5> 
      {% load static %} 
      <img class="responsive-img" width="600" src="{% static 'images/favicon-rectangle.ico' %}"/>
      <p>Ai-Mo is a tranquil tribe which aims to spread peace over the square and the server, over years the Ai-Moyans have specialized in meditation, found inner peace and gained a big amount of knowledge</p>
      <p>Now Ai-Moyans want to share their knowledge with the polytopians in the square and the people in the Earth</p>
      <p>Every day our host @1Chill and our reporter friends, @Druid, @Joxteoz, @Hspark, @Artemis, @PeacefulPotato, @CoolNotFoolGuy work hard and write great newspapers while @ArcticFox maintains and adds new features to the website</p>
      <p>Visit the site to read the daily newspaper where you will find tribe ideas, news from the official polytopia server and ai-moya</p>
      <p>If you want to join the Ai-Moya server in discord, here's the link: <a href="https://discord.gg/kfHtsuW">https://discord.gg/kfHtsuW</a></p>
  </div>
{% endblock %}
