{% extends 'newsroom/header.html' %}

{% block content %}
    <div class="row">
      <h5>How to write&publish newspapers</h5>
        <p style="font-size:70%">Author: @ArcticFox</p>  
        <p>1- Go to admin page(/admin)</p>
        <p>2- Log in with your account</p>
        <p>3- Press newspapers</p>
        <p>4- Create a newspaper</p>
        <h6>5- IMPORTANT NOTE: Slug field determines the url so don't make is something weird, if you write "aaa" at the slug field the newspaper will be viewed from /newsroom/newspaper/aaa</h6>
        <br>
        <p>How to Insert Images:</p>
        <p>Upload image to Imgur, right-click(PC/Mac) or long-press(Phones/Tablets) then select "Open Image in New Tab" and copy the URL</p>
        <p>When you're writing the newspaper click the image icon and paste the URL, do not write anything at the other parts, it will seem at it's original size</p>
     </div>
{% endblock %}